* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
* h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

/*media queries */
header {
  background-color: whitesmoke;
}
header nav {
  background-color: #000000;
}
header nav div ul li .link {
  color: whitesmoke;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
header nav div ul li .link:hover {
  background-color: #7976fb;
}
header nav div .imglogo {
  width: 40%;
  height: 20%;
}

main section div .conteiner {
  display: flex;
  justify-content: center;
}
main section div .imgColum1,
main section div .imgColum3 {
  width: 80%;
  height: 80%;
  margin-left: 25%;
}
@media screen and (min-width: 501px) and (max-width: 960px) {
  main section div .imgColum1,
  main section div .imgColum3 {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 501px) and (max-width: 960px) and (min-width: 200px) and (max-width: 350px) {
  main section div .imgColum1,
  main section div .imgColum3 {
    width: 100px;
    height: 100px;
  }
}
main section div .imgColum2,
main section div .imgColum4 {
  width: 80%;
  height: 80%;
  margin-left: 3%;
}
@media screen and (min-width: 501px) and (max-width: 960px) {
  main section div .imgColum2,
  main section div .imgColum4 {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 501px) and (max-width: 960px) and (min-width: 200px) and (max-width: 350px) {
  main section div .imgColum2,
  main section div .imgColum4 {
    width: 100px;
    height: 100px;
  }
}
main .destacados {
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
@media screen and (max-width: 501px) {
  main .destacados {
    font-size: 1rem;
  }
}
main #bannersecon {
  width: 100%;
  height: 5%;
}
main .tips {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 150%;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
@media screen and (max-width: 501px) {
  main .tips {
    font-size: 1rem;
  }
}
main .texto {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 95%;
  margin-bottom: 10%;
}
@media screen and (max-width: 501px) {
  main .texto {
    font-size: 50%;
  }
}

main .shop {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3%;
  animation-name: miAnimacion;
  animation-duration: 5s;
  position: relative;
}
@media screen and (min-width: 200px) and (max-width: 350px) {
  main .shop {
    text-align: center;
    font-size: 35px;
  }
}
@keyframes miAnimacion {
  0% {
    color: #3e065f;
  }
  25% {
    color: #1e5128;
  }
  35% {
    color: #097188;
  }
  50% {
    color: #1a1a40;
  }
  60% {
    color: #71115a;
  }
  75% {
    color: #59244b;
  }
  80% {
    color: #3c979e;
  }
  100% {
    color: black;
  }
}
main .grid-conteiner {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-left: 5%;
}
@media screen and (min-width: 501px) and (max-width: 960px) {
  main .grid-conteiner {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-left: 0%;
  }
}
@media screen and (min-width: 200px) and (max-width: 350px) {
  main .grid-conteiner {
    align-items: center;
  }
}
main .grid-item {
  width: auto;
  height: 80%;
}
@media screen and (max-width: 501px) {
  main .grid-item {
    width: 90%;
    height: 75%;
    margin-left: 2%;
    align-items: center;
  }
}
@media screen and (min-width: 200px) and (max-width: 350px) {
  main .grid-item {
    align-items: center;
  }
}
@media screen and (min-width: 501px) and (max-width: 960px) {
  main .grid-item {
    width: 90%;
    height: 75%;
    margin-left: 2%;
  }
}
main .grid-conteiner2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-left: 5%;
  margin-right: 4%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-left: 5%;
  margin-right: 4%;
}
main .grid-item2 {
  width: 90%;
  height: 75%;
  align-items: center;
}
main .conteiner {
  display: flex;
  justify-content: center;
}
main .descuentos {
  width: 220px;
  height: 300px;
  margin-top: 5%;
}

@media screen and (min-width: 200px) and (max-width: 350px) {
  h2 {
    text-align: center;
  }
}
@media screen and (max-width: 501px) {
  h2 {
    text-align: center;
  }
}
@media screen and (min-width: 501px) and (max-width: 960px) {
  h2 {
    text-align: center;
  }
}
@media screen and (min-width: 960px) and (max-width: 2000px) {
  h2 {
    text-align: center;
  }
}
h2 .tpg {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
  text-align: center;
}
@media screen and (min-width: 200px) and (max-width: 350px) {
  h2 .tpg {
    text-align: center;
  }
}
@media screen and (max-width: 501px) {
  h2 .tpg {
    text-align: center;
  }
}
@media screen and (min-width: 501px) and (max-width: 960px) {
  h2 .tpg {
    text-align: center;
  }
}

/*medios de pago*/
body main .mediodepago {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3%;
  color: black;
  font-size: 180%;
}
body main .tarjetas {
  margin-top: 3%;
  background-color: rgb(220, 220, 226);
}
body main .debito {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 180%;
  color: rgb(16, 16, 17);
  margin-top: 2%;
  margin-left: 2%;
}
body main .credito {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 180%;
  color: rgb(18, 18, 55);
  margin-top: 2%;
  margin-left: 2%;
}
body main .imgtarjetas {
  margin-left: 2%;
}
body main .subtitulomdp {
  margin-left: 2%;
  margin-top: 4%;
  font-size: 100%;
}
body main .pmdp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  margin-top: 2%;
  margin-left: 2%;
}

/*envios*/
main .envios {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 130%;
  margin-left: 2%;
  margin-top: 3%;
}
main .envios1,
main .envios2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 115%;
  background: linear-gradient(to right, #9e0c9e, #7976fb);
  color: whitesmoke;
  margin-top: 5%;
  text-align: center;
}
main .enviop1,
main .enviop2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
}

.enviop2 {
  margin-bottom: 15%;
}

/*contacto*/
main .contacto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 140%;
  color: black;
  margin-top: 5%;
  margin-left: 5%;
}
main form {
  margin-right: 40%;
  text-align: justify;
  color: rgb(18, 43, 43);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 1%;
}

/*sobre nosotros*/
main .sobrenosotros {
  display: flex;
}
@media screen and (max-width: 501px) {
  main .sobrenosotros {
    flex-direction: column;
  }
}
@media screen and (min-width: 200px) and (max-width: 350px) {
  main .sobrenosotros {
    flex-direction: column;
  }
}
main .sobrenosotros img {
  margin-left: 5%;
  margin-top: 2%;
  display: flex;
  margin-bottom: 3%;
  width: 50%;
  height: 50%;
}
@media screen and (min-width: 200px) and (max-width: 350px) {
  main .sobrenosotros img {
    flex-direction: column;
    width: 80%;
  }
}
@media screen and (max-width: 501px) {
  main .sobrenosotros img {
    flex-direction: column;
    width: 80%;
  }
}
main .sobrenosotros p {
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  font-size: 100%;
  display: flex;
}
@media screen and (max-width: 501px) {
  main .sobrenosotros p {
    flex-direction: column;
  }
}
@media screen and (min-width: 200px) and (max-width: 350px) {
  main .sobrenosotros p {
    flex-direction: column;
  }
}
main .titulo2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 180%;
  text-align: left;
  margin-top: 2%;
  margin-left: 5%;
}
main .tiendas {
  margin-left: 5%;
}
main iframe {
  margin-left: 5%;
  margin-bottom: 2%;
  display: flex;
}
@media screen and (min-width: 501px) and (max-width: 960px) {
  main iframe {
    width: 400px;
    height: 350px;
    margin-left: 10%;
    margin-top: 2%;
  }
}
@media screen and (max-width: 501px) {
  main iframe {
    width: 300px;
    height: 300px;
    margin: 0;
  }
}

/*footer*/
footer {
  background: linear-gradient(to right, #25117b, #f1f1f3);
  width: 100%;
  height: 40%;
  margin-bottom: 0%;
}

.contenedor-footer {
  display: flex;
}

footer h5 {
  display: flex;
  display: block;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  color: white;
  font-size: 2vh;
}
@media screen and (min-width: 501px) and (max-width: 960px) {
  footer h5 {
    font-size: 50%;
  }
}
@media screen and (max-width: 501px) {
  footer h5 {
    font-size: 40%;
  }
}

.footerImg {
  display: flex;
}

.imgcontacto {
  width: 32px;
  height: 32px;
}

.imgFooterContacto {
  width: 32px;
  height: 32px;
}