//variables
$color-letra: black;
$background-color-principal: whitesmoke;
$fontfamily-principal: Verdana, Geneva, Tahoma, sans-serif;
$fontfamily2: Arial, Helvetica, sans-serif;
$color_3: rgb(16, 16, 17);
$color_4: rgb(18, 18, 55);
$color_5: rgb(18, 43, 43);
$color_6: white;
$background-color_2: #000000;
$background-color_3: #7976fb;
$background-color_4: rgb(220, 220, 226);
$elemento-centrado: center;
$color_7: whitesmoke;
$color_8: #3e065f;
$color_9: #1e5128;
$color_10: #1a1a40;
$color_11: #59244b;
$color_12:#097188;
$color_13:#71115a;
$color_14:#3c979e;