//variables
$color-letra: black;
$background-color-principal: whitesmoke;
$fontfamily-principal: Verdana, Geneva, Tahoma, sans-serif;
$fontfamily2: Arial, Helvetica, sans-serif;
$color_3: rgb(16, 16, 17);
$color_4: rgb(247, 17, 239);
$color_5: rgb(18, 43, 43);
$color_6: white;
$background-color_2: #000000;
$background-color_3: #7976fb;
$background-color_4: rgb(220, 220, 226);
$elemento-centrado: center;
$color_7: whitesmoke;
$color_8: #1866e2;
$color_9: #46dfea;
$color_10: #eb55b4;
$color_11: #14efe4;
$color_12:#0ce926;
$color_13:#e8e357;
$color_14:#e5244e;