@import "variables";
@import "basicos";
@import "mixin";
@import "mediaqueries";
//navegacion

header {
  background-color: whitesmoke;
  nav {
    background-color: #000000;
    div {
      ul {
        li {
          .link {
            color: whitesmoke;
            text-decoration: none;
            font-family: $fontfamily2;
            padding: 10px;
          }
          .link:hover {
            background-color: #7976fb;
          }
        }
      }
      .imglogo {
        width: 40%;
        height: 20%;
        transition: 0.5s;
        object-fit: cover;
        img:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

main {
  section {
    div {
      .conteiner {
        display: flex;
        justify-content: center;
      }
      .imgColum1,
      .imgColum3 {
        @include caja_personalizada();
        @include desktop {
          width: 200px;
          height: 200px;
          @include mobile {
            width: 100px;
            height: 100px;
          }
        }
      }
      .imgColum2,
      .imgColum4 {
        @include caja_personalizada2();
        @include desktop {
          width: 200px;
          height: 200px;
          @include mobile {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
  .destacados {
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: $fontfamily-principal;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    @include tablet {
      font-size: 1rem;
    }
  }
  #bannersecon {
    width: 100%;
    height: 5%;
  }
  .tips {
    font-family: $fontfamily-principal;
    font-weight: bold;
    font-size: 150%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    @include tablet {
      font-size: 1rem;
    }
  }
  .texto {
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    font-family: $fontfamily-principal;
    font-size: 95%;
    margin-bottom: 25%;
    text-decoration: none;
    @include tablet {
      font-size: 50%;
      margin-bottom: 25%;
      margin-top: 2%;
    }
    @include mobile{
      margin-bottom: 25%;
      margin-top: 2%;
    }

  }
}

//estilos de page productos
main {
  .shop {
    @include mobile {
      text-align: center;
      font-size: 35px;
    }
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
    font-family: $fontfamily2;
    background: linear-gradient(to right, #9e0c9e, #7976fb);
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    margin-top: 3%;
    animation-name: miAnimacion;
    animation-duration: 5s;
    position: relative;

    @keyframes miAnimacion {
      0% {
        color: $color_8;
      }
      25% {
        color: $color_9;
      }
      35% {
        color: $color_12;
      }

      50% {
        color: $color_10;
      }
      60% {
        color: $color_13;
      }
      75% {
        color: $color_11;
      }
      80% {
        color: $color_14;
      }
      100% {
        color: $color_4;
      }
    }
  }
  .grid-conteiner {
    @include caja_productos;
    @include desktop {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      margin-left: 0%;
    }
    @include mobile {
      align-items: center;
    }
  }
  .grid-item {
    @include grid_item;

    @include tablet {
      width: 90%;
      height: 75%;
      margin-left: 2%;
      align-items: center;
    }
    @include mobile {
      align-items: center;
    }
    @include desktop {
      width: 90%;
      height: 75%;
      margin-left: 2%;
    }
  }
  .grid-conteiner2 {
    @include caja_descuentos;
    @include caja_descuentos;
  }
  .grid-item2 {
    @include grid_item2;
  }
  .conteiner {
    display: flex;
    justify-content: center;
  }
  .descuentos {
    width: 220px;
    height: 300px;
    margin-top: 10%;
  }
  .nombreYprecio{
    p{text-align: center;
    font-family: $fontfamily2;
  margin-top: 1%;
  margin-right: 10%;
  @include mobile{
    font-size: 10px;
  }
}
  }
  .nombreYprecio{
    strong{
      text-align: center;
    }
  }
}


h2 {
  @include mobile {
    text-align: center;
  }
  @include tablet {
    text-align: center;
  }
  @include desktop {
    text-align: center;
  }
  @include desktopfull {
    text-align: center;
  }
  .tpg {
    font-size: 30px;
    font-family: $fontfamily2;
    margin-top: 5%;
    text-align: center;
    @include mobile {
      text-align: center;
    }
    @include tablet {
      text-align: center;
    }
    @include desktop {
      text-align: center;
    }
  }
 
    }
/*medios de pago*/
body {
  main {
    .mediodepago {
      font-family: $fontfamily2;
      margin-top: 3%;
      color: black;
      font-size: 180%;
      margin-left: 5%;
    }
    @include mobile {
      font-size: 100%;
      margin-bottom: 5%;
      margin-top: 5%;
      text-align: center;
      margin-left: 3%;
    }
  }
  .tarjetas {
    margin-top: 3%;
    background: linear-gradient(to right, #9e0c9e, #7976fb);
    color: whitesmoke;
    text-align: center;
    font-size: 180%;
    margin-left: 5%;
    margin-right: 5%;
    .creditcardimg {
      width: 5%;
      height: 5%;
      fill: whitesmoke !important;
      @include mobile {
        font-size: 135%;
        margin-bottom: 5%;
      }
    }
  }
  .debito {
    font-family: $fontfamily2;
    font-size: 140%;
    color: $color_3;
    margin-top: 2%;
    margin-left: 5%;
    @include mobile {
      font-size: 120%;
      margin-left: 5%;
      margin-top: 5%;
    }
  }
  .credito {
    font-family: $fontfamily2;
    font-size: 140%;
    color: $color_3;
    margin-top: 2%;
    margin-left: 5%;
    @include mobile {
      font-size: 120%;
      margin-left: 5%;
      margin-top: 5%;
    }
  }
  .imgtarjetas {
    margin-left: 5%;
    @include mobile {
      width: 200px;
      margin-top: 10%;
    }
  }

  .subtitulomdp {
    margin-left: 5%;
    margin-top: 4%;
    font-size: 100%;
    margin-bottom: 25%;
    @include mobile {
      margin-left: 5%;
      font-size: 80%;
      margin-bottom: 25%;
    }
    @include tablet{
      margin-bottom: 25%;
    }
  }
  .pmdp {
    font-family: $fontfamily-principal;
    font-size: 100%;
    margin-top: 2%;
    margin-left: 5%;
    @include mobile {
      font-size: 80%;
      margin-left: 3%;
      margin-top: 5%;
      margin-right: 10%;
    }
  }
  p{font-family: $fontfamily-principal;
  text-align: center;
font-size: 100%;
@include mobile{
  font-size: 60%;
  margin-left: 5%;
  margin-right: 5%;
}}
}

/*envios*/
main {
  .envios {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    margin-left: 2%;
    margin-top: 3%;

    @include mobile {
      font-size: 100%;
      text-align: center;
      margin-left: 2%;
    }
    .autobus {
      width: 5%;
      height: 5%;
      margin-right: 1%;
      margin-left: 3%;
    }
  }
  .envios1,
  .envios2 {
    @include envios;
  }
  .enviop1,
  .enviop2 {
    @include enviosp;
  }
}
.enviop2 {
  margin-bottom: 15%;
}

/*contacto*/
main {
  .contacto {
    font-family: $fontfamily2;
    font-size: 140%;
    background: linear-gradient(to right, #9e0c9e, #7976fb);
    color: whitesmoke;
    margin-top: 5%;
    margin-left: 5%;
    padding: 10px;
    margin-right: 5%;
  }
  form {
    margin-right: 40%;
    text-align: justify;
    color: $color_5;
    font-family: $fontfamily2;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 1%;
  }
}

/*sobre nosotros*/
main {
  .sobrenosotros {
    display: flex;
    @include tablet {
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
    }
  }
  .sobrenosotros img {
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    margin-bottom: 3%;
    width: 50%;
    height: 50%;
    @include mobile {
      flex-direction: column;
      width: 80%;
      margin-left: 10%;
    }
    @include tablet {
      flex-direction: column;
      width: 80%;
    }
  }
  .sobrenosotros p {
    text-align: justify;
    margin-left: 40px;
    margin-right: 55px;
    margin-top: 30px;
    font-size: 100%;
    display: flex;
    @include tablet {
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
    }
  }
  .titulo2 {
    font-family: $fontfamily2;
    color: whitesmoke;
    background: linear-gradient(to right, #9e0c9e, #7976fb);
    font-size: 180%;
    text-align: left;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 4%;
    padding: 5px;
    @include mobile {
      font-size: 150%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  .tiendas {
    margin-left: 5%;
    font-family: $fontfamily2;
    text-decoration: underline;
    @include mobile {
      font-size: 100%;
    }
  }
  iframe {
    margin-left: 28%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    @include desktop {
      width: 400px;
      height: 350px;
      align-items: center;
      margin-top: 2%;
    }
    @include tablet {
      width: 300px;
      height: 300px;
      margin: 10%;
    }
    @include mobile {
      margin-left: 10%;
      display: flex;
      width: 250px;
      height: 250px;
    }
  }
}
/*footer*/
footer {
  background: linear-gradient(to right, #25117b, #f1f1f3);
  width: 100%;
  height: 40%;
  margin-bottom: 0%;
  margin-top: 15%;
}
.contenedor-footer {
  display: flex;
}
footer h5 {
  display: flex;
  display: block;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  color: white;
  font-size: 2vh;
  @include desktop {
    font-size: 50%;
  }
  @include tablet {
    font-size: 40%;
  }
  @include mobile{
    margin-top: 50%;
  }
}
.footerImg {
  display: flex;
}
.imgcontacto {
  width: 32px;
  height: 32px;
}
.imgFooterContacto {
  width: 32px;
  height: 32px;
}
